@model Stackoverflow.Models.Question
@{
    ViewBag.Title = "AddTagToQuestion";
}

<h2>Add Tag To Question</h2>

@using (Html.BeginForm())
{
    <div>
        <h4>Tag</h4>
        <hr />
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            Select the song: @Html.DropDownList("TagId")
        </div>

        <button type="submit" value="Add">
            Add
        </button>
    </div>
}

<br />

<div>
    <button class="question" type="button">
        <p class="link">
            @Html.ActionLink("Back to Question", "Details", new { id = Model.Id }, new { style = "color: white;text-decoration:none" })
        </p>
    </button>
    <button class="question" type="button">
        <p class="link">
            @Html.ActionLink("Create Tag", "Create", "Tags", null, new { style = "color: white;text-decoration:none" })
        </p>
    </button>
</div>

